.headerRowContainer {  
    background: #212121;
    
    border-radius: 5px;
}

.headerRowBackground {  
    background: #212121;
    
    border-radius: 5px;
    width: fit-content;
}

.headerRow {  
    margin: 0 auto;
    display: flex;
    justify-content: center;
}